<div class="d-flex justify-content-between flex-wrap-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Dashboad</h1>

    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/add" class="btn btn-sm btn-outline-secondary">+ new user</a>
        </div>
    </div>
</div>

{{!-- <div class="alert alert-success alert-dismissible fade show">
{{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div> --}}


<div class="table-reponsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">password</th>
                <th scope="col">EMAIL</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        
          <tbody>
    {{#each customers}}
    <tr>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.password}}</td>
        <td>{{this.email}}</td>
        <td><div class="d-flex flex-row justify-content-end gap-2">

            <a href="/view/{{this._id}}" type="button" class="btn btn-primary btn-small">
            <i class="bi bi-eye"></i>
            </a>

            <a href="/edit/{{this._id}}" type="button" class="btn btn-warning btn-small">
            <i class="bi bi-pencil"></i>
            </a>

            <form action="/edit/{{this._id}}?_method=DELETE" method="POST" class="position-relative">
            <button type="submit" class="btn btn-danger btn-small">
                <i class="bi bi-person-x"></i>
            </button>
            </form>
        </div></td>
    </tr>
    {{/each}}
</tbody>
    </table>
</div>

